body{
    background:black;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
div{
        box-sizing:border-box;
    }
.post{
        background: white;
        margin-top: 10px;
    }
.post img{
        width:100%;
        height:auto;
    }
.postheader {
        width: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
.postheader .icon .name {
    flex-basis: 30%;
}
.postheader .ellipsis {
   justify-content: center; 
   font-size: x-large;
   flex-basis: 70%;
   margin-left: 355px;
}
.post p{
        margin: 10px;
        padding: 5px;
    }
.container{
        width: 500px;
        margin: auto;
    }
.fa-brands {
    color: black;
    font-size:x-large;
    margin-left: 10px;
}
.fa-regular {
    font-size: x-large;
}
.fa-light{
    font-size: x-large;
}
.fa-thin{
    font-size: x-large;
    margin-left: 365px;
}
.likeIcons{
    margin-left: 12px;
}